<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.easyway.mapper.notice.NoticeMapper">

	<insert id="insert">
		INSERT INTO
		OF_BOARD
		VALUES(ob_seq.nextval,#{employeeId},#{departmentId},#{obTitle},#{obContent},#{obFilePath},SYSDATE,0,#{obFixedCheck})
	</insert>

	<select id="getListAll" resultType="org.easyway.domain.notice.NoticeVO">
		SELECT
		OB_ID AS obId,
		EMPLOYEE_ID AS employeeId,
		DEPARTMENT_ID AS departmentId,
		OB_TITLE AS obTitle,
		OB_CONTENT AS obContent,
		OB_FILE_PATH AS obFilePath,
		OB_DATE AS obDate,
		OB_VIEW AS obView,
		OB_FIXED_CHECK AS obFixedCheck
		FROM OF_BOARD
		ORDER BY OB_FIXED_CHECK DESC, OB_DATE DESC
	</select>


	<select id="read" resultType="org.easyway.domain.notice.NoticeVO">
		SELECT
		OB_ID AS obId,
		EMPLOYEE_ID AS employeeId,
		DEPARTMENT_ID AS departmentId,
		OB_TITLE AS obTitle,
		OB_CONTENT AS obContent,
		OB_FILE_PATH AS obFilePath,
		OB_DATE AS obDate,
		OB_VIEW AS obView,
		OB_FIXED_CHECK AS obFixedCheck
		FROM OF_BOARD
		WHERE
		OB_ID = #{obId}
	</select>


	<update id="update" parameterType="org.easyway.domain.notice.NoticeVO">
		UPDATE
		OF_BOARD SET
		OB_TITLE = #{obTitle},
		OB_CONTENT = #{obContent},
		OB_FILE_PATH = #{obFilePath},
		OB_FIXED_CHECK = #{obFixedCheck}
		WHERE OB_ID = #{obId}
	</update>

	<delete id="delete">
		DELETE
		FROM OF_BOARD
		WHERE OB_ID=#{obId}
	</delete>

</mapper>