<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.easyway.mapper.schedule.ScheduleMapper">
	<cache />
	<!--스케쥴테이블 전체 불러오기-->
	<select id="getList" resultType = "org.easyway.domain.schedule.ScheduleVO">
			SELECT
			schedule_id AS scheduleId , employee_id AS employeeId, schedule_title AS scheduleTitle,
			schedule_start AS scheduleStart, schedule_end AS scheduleEnd,
			schedule_content AS scheduleContent, schedule_importance AS scheduleImportance, schedule_private AS schedulePrivate
			FROM schedule
	</select>
	<!--일정등록-->
	<insert id="insert">
		INSERT INTO schedule(
			schedule_id , employee_id, schedule_title , schedule_start, schedule_end,
			schedule_content , schedule_importance , schedule_private
		)
		VALUES(
			schedule_seq.nextval, '1', #{scheduleTitle}, #{scheduleStart},
			#{scheduleEnd},
			#{scheduleContent}, #{scheduleImportance}, #{schedulePrivate}
		)
	</insert>
	<!-- VALUES(
			schedule_seq.nextval, '1', #{schedule_title}, TO_DATE(TO_CHAR(#{schedule_start},'yyyy/mm/dd'),'yyyy/mm/dd'),
			TO_DATE(TO_CHAR(#{schedule_end},'yyyy/mm/dd'),'yyyy/mm/dd'),
			#{schedule_content}, #{schedule_importance}, #{schedule_private}
		) -->

	 
	<select id="read" parameterType="int" resultType = "schedule">
		SELECT 
			schedule_id AS scheduleId , employee_id AS employeeId, schedule_title AS scheduleTitle,
			schedule_start AS scheduleStart, schedule_end AS scheduleEnd,
			schedule_content AS scheduleContent, schedule_importance AS scheduleImportance, schedule_private AS schedulePrivate
		FROM schedule WHERE schedule_seq = #{schedule_seq}
	</select>
	<!--
	<update id="updateBoard" parameterType="Board">
		update board set title=#{title}, contents = #{contents}而щ읆紐?#{蹂?섎챸} 
		where seq= #{seq}
	</update>
	
	<select id="countBoard" parameterType="Search" resultType = "int">
		select count(*) from board
		<if test="area !=null">
			<where>
				where (title LIKE %?띻만?? OR writer LIKE %?띻만??)
				<foreach collection="area" item="item" separator="OR"
					open="(" close=")">
					${item} LIKE #{searchKey}
				</foreach>
			</where>
		</if>
	</select>
	
	<insert id="insertReply" parameterType="Reply">
		insert into reply
		values(reply_seq.nextval, #{r_title},#{r_writer},#{r_contents},sysdate, #{seq})
		
	</insert>
	
	<select id="listReply" parameterType="int" resultType="Reply">
		select* from reply where seq = #{seq}
	</select> -->
	
</mapper>
