@charset "UTF-8";

body{
    overflow: hidden;
}

.easyway-wrapper{
	height: 100vh;
}

/* ----------------------------------------------------------------------------------------------- */
/* widget droppable area
/* ----------------------------------------------------------------------------------------------- */

.widget-area{
	height: 90%;
	/* margin-right은 widget-thumb-container의 width 길이와 같음*/
	margin-right: 90px;
    border: 3px dotted #ddd;
    border-radius: 10px;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.widget-area-message{
    font-size: 30px;
    font-weight: bold;
    color: #bbb;
}

.close-btn{
    font-size: 30px;
    color: #aaa;
    position: absolute;
    width: 200px;
    height: 50px;
    padding-left: 180px;
    top: 20px;
    right: 30px;
    cursor: pointer;
    z-index: 9999;
}


/* ----------------------------------------------------------------------------------------------- */
/* 위젯 썸네일 */
/* ----------------------------------------------------------------------------------------------- */

.widget-thumb-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 90px;
    padding: 100px 0;
    position: absolute;
    top: 0;
    right: 0;
    fon: ;
    font-size: 14px;
    background: #eee;
}

.widget-thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    text-align: center;
}

.unselected {
    background: #fff
}

.unselected:HOVER {
	background: #0397ed;
	color: white;
	cursor: pointer;
}

.selected {
	background: #eee;
}

/* ----------------------------------------------------------------------------------------------- */
/* 위젯 */
/* ----------------------------------------------------------------------------------------------- */

